<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0"
	xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
	<persistence-unit name="FluxPU" transaction-type="RESOURCE_LOCAL">
		<provider>org.hibernate.ejb.HibernatePersistence</provider>
		<shared-cache-mode>ALL</shared-cache-mode>
		<properties>
			<property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
			<property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost/clockwork?createDatabaseIfNotExist=true&amp;autoReconnect=true"/>
			<property name="javax.persistence.jdbc.user" value="root"/>
			<property name="javax.persistence.jdbc.password" value="8sLlP50!"/>

			<property name="hibernate.connection.autocommit" value="false"/>
			<property name="hibernate.connection.release_mode" value="auto"/>
			<property name="hibernate.connection.shutdown" value="true"/>
			<property name="hibernate.current_session_context_class" value="thread"/>
			<property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect"/>
			<property name="hibernate.format_sql" value="false"/>
			<property name="hibernate.hbm2ddl.import_files" value="schema/suporte.sql"/>
			<property name="hibernate.hbm2ddl.auto" value="update"/>
			<property name="hibernate.show_sql" value="true"/>
	       	<property name="hibernate.transaction.factory_class" value="org.hibernate.transaction.JDBCTransactionFactory"/>
			<property name="hibernate.use_sql_comments" value="false"/>
			<property name="hibernate.transaction.flush_before_completion" value="true"/>
            <property name="hibernate.transaction.auto_close_session" value="true"/>

		</properties>
	</persistence-unit>
</persistence>
