* {
margin:0;
padding:0;
list-style:none;
vertical-align:baseline;
}

.header-title {
	color: white;
}

.ui-widget, .ui-widget .ui-widget {
    font-size: 90%;
}

#header {
	border:none;
}

#header.pe-layout-pane-content {
	padding: 0 !important;
}